:root {
  --primary-color: #E4229C;
  --primary-color-darker: #E4229B;
  --primary-color-pale: #6D4376;
  --primary-color-dark: #36173D;

  --text-primary-color: #FFFFFF;
  --text-secondary-color: #C4C8CC;

  --bg-color: #1F002B;

  --error: #eb4034;

  --layout-padding: 20px;
}